/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.modal {
    display: none;
    position: fixed;
    z-index: 11111;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: #000;
    outline: 0;
}


/* @media only screen and (min-width: 768px) {
    #content .modal-dialog {
        width: 750px;
    }
} */

@media only screen and (min-width: 768px) {
    .modal .modal-dialog {
        max-width: 750px!important;
    }
}

.modal .modal-dialog {
    max-width: 500px;
    margin: 0px auto;
    padding: 0px;
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

#add-to-cart-modal .modal-content {
    padding: 10px;
}

html .modal-content {
    background: #fff;
    background: none repeat scroll 0 0 rgba(255, 255, 255, .97);
    border: medium none;
    -webkit-box-shadow: 0 2px 2px rgb(11 25 28 / 10%);
    -moz-box-shadow: 0 2px 2px rgba(11, 25, 28, .1);
    box-shadow: 0 0 2px #0b191c1a;
    min-height: 450px;
    padding: 2rem;
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pull-right {
    position: absolute;
    right: 10px;
    top: 10px;
}

a {
    color: #135a8a;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
}

.text-center {
    text-align: center;
}

.text-center {
    text-align: center!important;
}

.modal-header {
    padding: 15px;
}

.text-center {
    text-align: center;
}

.lineseperator-top {
    width: 75%;
    margin: 48px auto 38px;
}

.lineseperator-jkl {
    margin-left: auto;
    margin-right: auto;
}

#add-to-cart-modal .modal-content #continue-shopping .fa.fa-chevron-left {
    margin-right: 0.5rem;
    font-size: 1rem;
}

.vertical-margin-small {
    margin-top: 10px;
    margin-bottom: 10px;
}

#add-to-cart-modal .btn .fa-chevron-right {
    margin-left: 10px;
    font-size: 1rem;
}

#add-to-cart-modal .modal-content #continue-shopping {
    margin-top: 2.5rem;
    font-size: 1rem;
}

#add-to-cart-modal #close-add-to-cart .fa {
    font-size: 32px;
    line-height: normal;
    color: #ccc;
    margin: 0 5px 0 0;
}

#cart-item-title p {
    font-size: 1.2rem;
}

body h3 {
    font-size: 24px;
}

body p {
    margin: 10px 0 20px;
    font-size: 14px;
}

#add-to-cart-modal .modal-content .proceed {
    font-size: 1.2rem;
    padding: 0.8rem 1rem;
    max-width: 250px;
    border-radius: 2px;
    white-space: normal;
    text-transform: uppercase;
}

#add-to-cart-modal .btn {
    color: #fff;
    width: 100%;
}

img {
    height: auto;
    max-width: 100%;
    display: block;
    border-radius: 3px;
    margin: auto;
}

.bg-green {
    background-color: #008a00;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.warning-message .error.display-hidden {
    display: none;
}

.warning-message .error {
    color: #e9292c;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
}

.modal-content .success-info {
    margin-top: 20px;
    margin-bottom: 30px;
}

.modal-content .success-info h3 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.custom-alert-cart-popup {
    margin-top: 45px;
    border: none;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
}

.margin-left-large {
    margin-left: 30px;
}

.margin-right-large {
    margin-right: 30px;
}


/* Modal cart page */

.modal .modal-content #postal-code-button {
    margin-top: 3rem;
}

.margin-top-large {
    margin-top: 20px;
}

.modal-boxer {
    position: relative;
    display: flex;
    justify-content: center;
}

.modal .modal-content button {
    background-color: #135a8a;
    border: 1px solid #135a8a;
    width: 100%;
    max-width: 110px;
    color: #fff;
    border-radius: 0;
    height: 48px;
}

.modal .modal-content input {
    border: 1px solid #135a8a;
    height: 48px;
}

ul.list-style-checkmark li:before {
    font-family: FontAwesome;
    content: "\f00c";
    margin: 0 5px 0 -25px;
    float: left;
}

ul {
    list-style-type: none !important;
}

h5.warning-message {
    margin-top: 15px;
}

input:focus,
button:focus,
a.btn:focus {
    outline: 0px!important;
}

.close-cartback {
    display: flex;
    justify-content: center;
}

.close-cartback a {
    color: #fff !important;
    font-size: 1.2rem;
    padding: 0.8rem 1rem;
    max-width: 250px;
    border-radius: 2px;
    white-space: normal;
    text-transform: uppercase;
}

.close-cartback .fa-chevron-right {
    font-size: 1rem;
    margin-left: 0.5rem;
}


/* Header zipcode */

#header-zip-code-form {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

#header-zip-code-form #store-pop-over {
    width: 540px;
    right: 10%;
    -webkit-box-shadow: 0 2px 2px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 2px #0003;
    padding: 0 1.5em 1.5em;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 12px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px #0000002d;
    background-clip: padding-box;
}

.dropdown-menu.display-hidden {
    display: block!important;
}

#header-zip-code-form #postal-code-wrapper {
    display: inline-block;
    margin-right: 0.6em;
    padding-right: 0.8em;
    cursor: pointer;
}

#header-zip-code-form #postal-code-wrapper #header-zip-lb {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0.625em;
    line-height: 30px;
    margin-right: 0.7rem;
}

#header-zip-code-form #postal-code-wrapper #header-zip-lb i {
    font-size: 1.2em;
    margin: 10px;
    color: #333;
}

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    max-width: 276px;
    padding: 1px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    line-break: auto;
}

#header-zip-code-form #store-pop-over button#close-btn {
    background: 0 0;
    color: #333;
    vertical-align: middle;
    border: none;
    padding-right: 0;
    padding-left: 0;
    width: 50px;
    height: 50px;
    line-height: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#header-zip-code-form #store-pop-over button {
    background: #333;
    font-size: 18px;
    border: 1px solid #135a8a;
    color: #fff;
    border-radius: 2px;
    height: 48px;
}

#header-zip-code-form .btn.postal-submit {
    min-width: 100px;
}

.dropdown-menu .pull-right {
    right: 0;
    left: auto;
}

#header-zip-code-form #store-pop-over input#postal-code {
    width: 40%;
    padding-left: 0.7rem;
    border: 1px solid #135a8a;
    height: 48px;
    min-width: 180px;
}

.textbox,
input[type=email],
input[type=password],
input[type=tel],
input[type=text],
select {
    background-color: #fff;
    border: solid 2px #e6e6e6;
    color: #333;
    font-size: 14px;
    height: 40px;
}

#header-zip-code-form #store-pop-over button#close-btn i.fa-times {
    font-size: 2em;
}

.mklpo-medium {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}